@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #34353a;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* navbar */

.navbar {

    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0%;
    width: 100%;
    position: fixed;
    
}

.logo {
    width: 15%;
    text-align: center;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo i {
    color: #68f2db;
}

.nav-content {
    width: 20%;
    font-size: 1.1rem;
    display: flex;
    margin-top: 0.5rem;
}

.nav-links {
    text-decoration: none;
    color: white;
    margin: 1rem;
    transition: .3s;
}

.nav-links:hover {
    
    color: #68f2db;
}

.nav-contact {
    text-align: center;
    width: 15%;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.nav-btn {
    height: 30%;
    width: 50%;
    border: 0.05rem solid black;
    background-color: #68f2db;
    padding: 0.1rem;
    border:5px solid #68f2db;
    border-radius: 10px;

}

.contact-logo {
    background-color: #68f2db;

}

/* home Section */
section{
    min-height: 100vh;
    width: 100%;
    padding-top: 5%;
}

#home {  
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-template-rows: 1fr 0.5fr 0.5fr;
} 

.hero-content{
    border: 2px solid #68f2db;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-social{
    border: 2px solid #68f2db;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    padding-left: 5rem;
}
.hero-social a img{
    margin-left: 2rem;
    height: 3rem;
    aspect-ratio: 1;
    
}
.cv{
    border: 2px solid #68f2db;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    padding-left: 6rem;
    align-items: center;
    
}
.cv button{
    height: 30%;
    width: 20%;
    border: 0.05rem solid black;
    background-color: #68f2db;
    padding: 0.1rem;
    border:5px solid #68f2db;
    border-radius: 10px;
    font-size: 1rem;
    margin-left: 0.8rem;
}
.cv button i{
    background-color: #68f2db;
}
.hero-image{
    border: 2px solid #68f2db;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

@media screen and (max-width:900px){
    #home {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr;
     } 
    .hero-content{
        border: 2px solid #68f2db;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .hero-social{
        border: 2px solid #68f2db;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .cv{
        border: 2px solid #68f2db;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .hero-image{
        border: 2px solid #68f2db;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}


/* about section */
#about {
    
   

}



/* skill section */
#skills {
   
    

}



/* project section */
#projects {
    

}